// Базовые flex-классы
.flex {
    display: flex;
    flex-wrap: wrap;

    .col-input {
        width: 80%;
        // margin-right: 1em;
    }

    .col-submit {
        width: 15%;
    }

    &.flex-justify-between {
    	justify-content: space-between;
    }
}
